*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}

li{
    font-style: 'segoe UI semibold' sans-serif;
    display: inline-block;
    padding-right: 30px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color:#282828;

}

a:hover{

    color:crimson;
    transition: 0.3s;
}

ul,header{
    margin-top: 10px;
}

ul{
    float: right;
}

span{
    color:crimson;
}

header{
    color:#606060;
    float: left;
    margin-left: 10px;
    font-weight: 500;
}

.navbar{
    background-color: white;
    margin-top: -200px;
    height: 50px;
    border-bottom: 1px solid rgb(210, 210, 210);
    width: 100%;
    position: fixed;

}

.banner{
    margin:200px 0 0 100px;
    
}

.banner-header{
    font-size: 32px;
    text-transform: uppercase;
    color: #606060;
}
.banner-statement{
    text-align: justify;
    word-wrap: break-word;
}



.banner-btn{

    padding:17px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: crimson;
    color:white;
    border-style: none;
}


.banner-btn:hover{
    transition: 0.4s;
    border:1px solid crimson;
    color:crimson;
    background-color: white;
}


.section-2{
    width: 100%;
    background-image: url('background-section-2.jpg');
    background-size: cover;
    
    margin-top: 500px;
    height: 750px;

    
}

.section-2 h1{
    padding-top: 50px;
    color: white;

}



